/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
/* Configuração das variáveis de cores e fonte */
:root {
    --primary: #000000;
    --background: #f3efef;
    --text: #333;
    --font-color: #9E9E9E;
    --font: "Montserrat", sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--font);
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header > .header-container #logo {
    width: 100px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #5c5c5c;
    display: inline-block;
    transition: 0.2s;
}

header a:hover {
    color: #000;
    transform: scale(1.1);
}

header button {
    background-color: #5c5c5c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

header button:hover {
    background-color: #000;
    transform: scale(1.1);
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

/* FOOTER */
footer {
    background-color: #fff;
    color: var(--font-color);
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #e0e0e0;
}

footer a {
    color: var(--font-color);
    text-decoration: none;
}